.idea/
\data/*
lib/python3.4/site-packages/*
#lib/python3.4/site-packages/tensor*
#lib/python3.4/site-packages/wheel
#lib/python3.4/site-packages/numpy*
#lib/python3.4/site-packages/six*
#lib/python3.4/site-packages/google*
#lib/python3.4/site-packages/Keras*
#lib/python3.4/site-packages/h5py*


someoneelsesnet.py
data2.npy
.gitignore.save
LSTMweights.index
google.com

*.pyc
*/.idea



labels2.npy
lib/__future__.py
lib/_bootlocale.py
lib/_collections_abc.py
lib/_dummy_thread.py
lib/_weakrefset.py
lib/abc.py
lib/base64.py
lib/bisect.py
lib/codecs.py
lib/collections/
lib/copy.py
lib/copyreg.py
lib/distutils/
lib/encodings/
lib/enum.py
lib/fnmatch.py
lib/functools.py
lib/genericpath.py
lib/hashlib.py
lib/heapq.py
lib/hmac.py
lib/imp.py
lib/importlib/
lib/io.py
lib/keyword.py
lib/linecache.py
lib/locale.py
lib/no-global-site-packages.txt
lib/ntpath.py
lib/operator.py
lib/orig-prefix.txt
lib/os.py
lib/posixpath.py
lib/random.py
lib/re.py
lib/reprlib.py
lib/rlcompleter.py
lib/shutil.py
lib/site-packages/
lib/site.py
lib/sre_compile.py
lib/sre_constants.py
lib/sre_parse.py
lib/stat.py
lib/struct.py
lib/tarfile.py
lib/tcl8.6/
lib/tempfile.py
lib/token.py
lib/tokenize.py
lib/types.py
lib/warnings.py
lib/weakref.py
